<div id="search">
  <h2><i class="fa fa-search text-muted"></i> Advanced Search</h2>
  <%= form_tag(search_url, :method => :get, :id=>'advanced_search') do |f| %>
    <div class="row">
      <div class="form-group col-lg-6">
        <label for="search[fandom]">Fandom</label>
        <select class="form-control"
                name="search[fandom]"
                id="search[fandom]">
          <%= options_from_collection_for_select(Fandom.where(:id => 224), :id, :name, 224) %>
        </select>
      </div>
      <div class="form-group col-lg-6">
        <label for="crossovers">Crossover</label>
        <select class="form-control"
                name="search[crossovers]"
                id="search[crossovers]"
                data-placeholder="Choose a Fandom">
          <option value=""></option>
          <%= options_from_collection_for_select(Fandom.all.order(:name), :id, :name) %>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-12">
        <label for="search[title]">Title</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon-book"></i></span>
          <input id="search[title]" name="search[title]" type="text" class="form-control" placeholder="Title" autocomplete="on" autofocus="autofocus" ng-model="title"/>
        </div>
      </div>
      <div class="form-group col-lg-12">
        <label for="search[title]">Author</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon-book"></i></span>
          <input id="search[author]" name="search[author]" type="text" class="form-control" placeholder="Author" autocomplete="on" ng-model="author"/>
        </div>
      </div>
      <div class="form-group col-lg-12">
        <label for="search[title]">Summary</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="icon-book"></i></span>
          <input id="search[summary]" name="search[summary]" type="text" class="form-control" placeholder="Summary keywords" autocomplete="on" ng-model="summary"/>
        </div>
        <span class="help-block">
          <a rel="nofollow" href="http://lucene.apache.org/core/2_9_4/queryparsersyntax.html">Lucene Query Syntax</a>
          e.g. <code>-slash +Harry timetravel</code> must not have slash, must contain Harry, may contain timetravel.
          Operands may be combined with boolean operators (e.g. <code>harry OR (+AU -slash)</code>). Terms can be followed by
          stars (<code>*</code>) for wildcards and fuzzy-searches done with <code>term~0.5</code> or a full phrase <code>"my phase"~</code>.
          These apply to title, author, and summary fields.
        </span>
      </div>
    </div>

    <h3><i class="fa fa-archive text-muted"></i> Categories</h3>
    <div class="row">
      <div class="form-group col-lg-6">
        <label for="search[category_required][]">Required Categories (max: 2)</label>
        <select chosen
                multiple
                max-selected-options="2"
                class="form-control"
                data-placeholder="Choose up to 2 required categories"
                name="search[category_required][]"
                id="search[category_required][]">
          <%= options_from_collection_for_select(Category.all, :id, :name) %>
        </select>
      </div>
      <div class="form-group col-lg-6">
        <label for="search[category_optional_exclude]" data-type="Categories">Excluded Categories</label>
        <div class="input-group">
          <span class="input-group-addon">
            <%= check_box_tag 'search[category_optional_exclude]', 'true', true %> Exclude
          </span>
          <select multiple
                  class="form-control"
                  data-placeholder="Choose some categories"
                  name="search[category_optional][]"
                  id="search[category_optional][]">
            <%= options_from_collection_for_select(Category.all, :id, :name) %>
          </select>
        </div>
      </div>
    </div>

    <h3><i class="fa fa-users text-muted"></i> Characters</h3>
    <div class="row">
      <div class="form-group col-lg-6">
        <label for="search[character_required][]">Required Characters (max: 4)</label>
        <select multiple
                class="form-control"
                data-placeholder="Choose up to 4 required characters"
                name="search[character_required][]"
                id="search[character_required][]">
          <%= options_from_collection_for_select(Character.all, :id, :name) %>
        </select>
      </div>
      <div class="form-group col-lg-6">
        <label for="search[character_optional_exclude]" data-type="Characters">Excluded Characters</label>
        <div class="input-group">
          <span class="input-group-addon">
              <!--<input type="checkbox"-->
                     <!--ng-model="character_optional_exclude"-->
                     <!--ng-init="character_optional_exclude=true"-->
                     <!--name="search[character_optional_exclude]"-->
                     <!--id="search[character_optional_exclude]"-->
                      <!--/> Exclude-->
            <%= check_box_tag 'search[character_optional_exclude]', 'true', true %> Exclude
          </span>
          <select multiple
                  class="form-control"
                  data-placeholder="Choose some characters"
                  name="search[character_optional][]"
                  id="search[character_optional][]">
            <%= options_from_collection_for_select(Character.all, :id, :name) %>
          </select>
        </div>
      </div>
    </div>

    <h3><i class="fa fa-filter text-muted"></i> Filters</h3>
    <div class="row">
      <div class="form-group col-lg-3">
        <label for="search[language]">Language</label>
        <select class="form-control"
                name="search[language]"
                id="search[language]">
          <% Language.all.each do |l| %>
            <option value="<%= l.name.downcase %>"<%= ' selected' if l.name == "English"%>><%= l.name %></option>
          <% end %>
        </select>
      </div>
      <div class="form-group col-lg-3">
        <label for="search[rating][]">Rating</label>
        <select multiple
                class="form-control"
                name="search[rating][]"
                id="search[rating][]">
          <option id="k" selected>K</option>
          <option id="k+" selected>K+</option>
          <option id="t" selected>T</option>
          <option id="m" selected>M</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-3">
        <label for="search[wordcount_lower]">Wordcount Minimum</label>
        <input type="number" class="form-control" id="search[wordcount_lower]" name="search[wordcount_lower]" placeholder="0" />
      </div>
      <div class="form-group col-lg-3">
        <label for="search[wordcount_upper]">Wordcount Maximum</label>
        <input type="number" class="form-control" id="search[wordcount_upper]" name="search[wordcount_upper]" placeholder="0" />
      </div>
      <div class="form-group col-lg-3">
        <label for="search[chapters_lower]">Chapters Minimum</label>
        <input type="number" class="form-control" id="search[chapters_lower]" name="search[chapters_lower]" placeholder="0" />
      </div>
      <div class="form-group col-lg-3">
        <label for="search[chapters_upper]">Chapters Maximum</label>
        <input type="number" class="form-control" id="search[chapters_upper]" name="search[chapters_upper]" placeholder="0" />
      </div>
    </div>

    <h3><i class="fa fa-sort-alpha-asc text-muted"></i> Sorting</h3>
    <div class="row">
      <div class="form-group col-lg-3">
        <label for="search[sort_by]">Sort By</label>
        <select class="form-control"
                name="search[sort_by]"
                id="search[sort_by]">
          <option value="_score" selected>Best Match</option>
          <option value="updated">Updated</option>
          <option value="published">Published</option>
          <option value="meta.words">Wordcount</option>
          <option value="meta.reviews">Reviews</option>
          <option value="meta.favs">Favorites</option>
          <option value="meta.follows">Follows</option>
          <option value="_dlp">DLP Review Score</option>
          <!--<option value="_popular">Popular & Recent</option>-->
          <!--<option value="_flesch">Flesch Index (Reading level)</option>-->
          <option value="meta.chapters">Chapters</option>
        </select>
      </div>
      <div class="form-group col-lg-3">
        <label for="search[order_by]">Order</label>
        <select class="form-control"
                name="search[order_by]"
                id="search[order_by]">
          <option value="desc" selected>Descending</option>
          <option value="asc">Ascending</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-success btn-group" value="Search" />
      <!--<input type="reset" class="btn btn-info btn-group" value="Clear" />-->
    </div>
  <% end %>
</div>
