<% if has_results? %>
  <h4 class="page-header">
    <%= Fandom.where(:id => @fandoms).order(:id).map{|f| f.name}.join(' and ') %>
    <small><%= number_with_delimiter(@search_results.hits) %> Stories Found</small>
  </h4>
  <!-- TODO: graphs/stats -->
  <!-- TODO: Drilldown links / facets -->
    <div>
      <%= link_to 'Alter Search', root_path(search: @search) %>
    </div>
  <div>
    <%= page_entries_info @paginate %>
  </div>
  <div>
      <%= paginate @paginate %>
  </div>
<% end %>
<!--<%= @search %>-->
<%= (render :partial => 'story_result', :collection => @results) || (render :partial => 'empty') %>

<% if has_results? %>
  <div>
      <%= paginate @paginate %>
  </div>
<% end %>
