<div class="panel panel-default">
  <div class="panel-heading">
    <% if story_result.meta.thread_data %>
        <a href="https://forums.darklordpotter.net/showthread.php?t=<%= story_result.meta.thread_data.thread_id %>"
        class="pull-right" ng-if="item.meta.threadData">
        DLP {{item.meta.threadData.votenum/item.meta.threadData.votetotal|number:2}} <i class="fa fa-star"></i></a>
    <% end %>
    <h3 class="panel-title">
      <a
              target="_blank"
              href="https://www.fanfiction.net<%= story_result.url %>"
              ng-mousedown="trackNavigate('story', item.title)"><%= story_result.title %></a>
      by
      <a
              target="_blank"
              href="https://www.fanfiction.net<%= story_result.author_url %>"
              ng-mousedown="trackNavigate('author', item.author)"><%= story_result.author %></a></h3>
  </div>
  <div class="panel-body">
    <%= story_result.summary %>
  </div>
  <div class="panel-footer">
    <span class="pull-right text-muted"
          title="Updated: <%= Time.at(story_result.updated/1000) %>"
          am-time-ago="item.updated"><%= timeago_tag Time.at(story_result.updated/1000), :limit => 2.years.ago %></span>
    <strong title="Published: <%= Time.at(story_result.published/1000) %>">
      <%= story_result.meta.status %>
    </strong>
    - <%= story_result.meta.rated %>
    - <%= extract_names(story_result.meta.categories, '/') %>
    - <%= extract_names(story_result.meta.characters, ', ') %>
    - <%= number_with_delimiter(story_result.meta.words) %> words
    - <%= number_with_delimiter(story_result.meta.chapters) %> chapters
    - <%= number_with_delimiter(story_result.meta.reviews) %> reviews
    <span class="text-muted">
      - <%= number_with_delimiter(story_result.meta.favs) %> favorites
      - <%= number_with_delimiter(story_result.meta.follows) %> follows
    </span>
  </div>
</div>
