<div class="row marketing">
  <% if has_results? %>
      <h4 id="result_header"><%= number_with_delimiter(@search_results.hits) %> Stories Found</h4>
      <!-- TODO: graphs/stats -->
      <div>
        <%= page_entries_info @results %>
      </div>
      <div>
          <%= paginate @results %>
      </div>
  <% end %>
  <!--<%= @search %>-->
  <%= (render :partial => 'home/story_result', :collection => @results) || (render :partial => 'empty') %>

  <% if has_results? %>
      <div>
          <%= paginate @results %>
      </div>
  <% end %>
  <!--<pagination total-items="hits"-->
              <!--items-per-page="25"-->
              <!--page="page"-->
              <!--on-select-page="runQuery(page)"-->
              <!--max-size="5"-->
              <!--class="pagination-sm"-->
              <!--boundary-links="true"-->
              <!--rotate="false"-->
              <!--ng-hide="!results.length"-->
              <!--num-pages="numPages"></pagination>-->
</div>
