<!DOCTYPE html>
<html>
<head>
  <title>Scryer<%= content_for?(:title) ? " :: #{content_for(:title)}" : '' %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag    controller_name, media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width">

</head>
<body class="<%= controller_name %>" data-controller="<%= controller_name %>" data-action="<%= action_name %>">

<%= render 'layouts/header' %>
<%= render 'feedback/modal' %>
<div class="container <%= controller_name %>">
  <% if current_user && !current_user.confirmed? %>
      <div class="alert alert-warning">
        <i class="fa fa-exclamation-triangle"></i>

        Your account's is currently email address unconfirmed. Your account will become inaccessible if not confirmed within 24 hours.
        <p>
          <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
        </p>
      </div>
  <% end %>

  <% [:notice, :error, :alert].each do |level| %>
    <% unless flash[level].blank? %>
      <div class="alert alert-<%= flash_class(level) %>">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= flash[level] %>
      </div>
    <% end %>
  <% end %>
  <%= yield %>
</div>

<%= render :partial => 'layouts/footer' %>

<script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-442860-6');
   ga('send', 'pageview');
   <% if user_signed_in? && current_user %>
    ga('set', '&uid', '<%= current_user.try(:id) %>');
   <% end %>
</script>
</body>
</html>
